<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Choose Mode</h1>
  <ul>
    <li>
      <a href="/search_commits">PRのコミットハッシュ一覧を出力する</a>
    </li>
    <li>
      <a href="/search_milestone">マイルストーンのPRリンク一覧を出力する</a>
    </li>
  </ul>
</body>
</html>
