<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <p>
    <a href="about">このサービスについて</a>
  </p>
  <h1>Pull Request Info</h1>
  <form action="/" method="POST">
    <div>
      アクセストークン:<input type="text" name="token" value="">
    </div>
    <div>
      レポジトリ:<input type="text" name="repo" value="">
    </div>
    <div>
      Pull Request ID:<input type="number" name="pr_id" value="">
    </div>
    <div>
      <input type="submit" value="送信する">
    </div>
  </form>
</body>
</html>
