<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Milestone Info</h1>
  <form action="/search_milestone" method="POST">
    <div>
      アクセストークン:<input type="text" name="token" value="">
    </div>
    <div>
      レポジトリ:<input type="text" name="repo" value="">
    </div>
    <div>
      Milestone ID:<input type="number" name="milestone_id" value="">
    </div>
    <div>
      <input type="submit" value="送信する">
    </div>
  </form>
  <p><a href="/">Homeに戻る</a></p>
</body>
</html>
